<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .social-footer {
      padding: 1rem;
      background: $dark-gray;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .social-footer-icons {
        li:last-of-type {
          margin-right: 0;
        }

        .fa {
            font-size: 1.3rem;
            color: $white;

            &:hover {
              color: darken($dark-gray, 25%);
              transition: color 0.3s ease-in;
          }
        }
      }
    }
  </style>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">Download TAR</a></li>
          {% endif %}
        </ul>

        <!--<ul>
          <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
        </ul>

        <a href="https://twitter.com/cody_heiser?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @cody_heiser</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <div id="widget ">
          <div class="btn-o bg-blue" data-scribe="component:button" style="width: 100%;"><a href="https://www.instagram.com/_codyheiser/" class="btn" id="b"><i class="fa fa-instagram ft14"></i><span class="label" id="l">Instagram</span></a></div>
        </div>-->

      </header>

      <section>
        {{ content }}
      </section>

      <footer class="social-footer">
        <div class="social-footer-icons">
          <ul class="menu simple">
            <li><a href="https://github.com/codyheiser"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/cody_heiser"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://linkedin.com/in/codyheiser"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://instagram.com/_codyheiser"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>